@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@layer components {
    .nav-link {
      position: relative;
      display: inline-block;
      padding-bottom: 0.5rem;
    }
    .nav-link::after {
        
        content: '';
        position: absolute;
        width: 0;
        height: 4px;
        bottom: -2px;
        left: 0;
        background: #00ffa4;
        background: -webkit-linear-gradient(135deg, #00ffa4 0%, #a668ff 100%);
        background: linear-gradient(135deg, #00ffa4 0%, #a668ff 100%);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-link-active::after{
        visibility: visible;
        width: 100%;
    }
    .text-gradient-135 {
      background: linear-gradient(135deg, #00ffa4 0%, #a668ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .logo {
      font-family: 'Playfair Display', serif;
      background: linear-gradient(135deg, #00ffa4 0%, #a668ff 100%);
      -webkit-background-clip: text;
      color: transparent;
    }
    
  }
  @keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
  
  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
    transform-origin: 70% 70%;
  }
  